################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/NombreTarea/.vs/NombreTarea/v16
/NombreTarea/Debug
/NombreTarea/NombreTarea/Debug
/.vs/ejemplo01/v16
/.vs
